header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profilePicture {
  margin-top: 120px;
  /* height: 400px; */

  width: 100%;
  align-self: center;
}

.profilePicture img {
  height: 400px;
}

.profileName {
  margin-top: 0px;
}