.navBarHome {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed; 
}

.navBarHome > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downArrow {
  margin: 0;
}

