.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  align-items: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between
}

form > label {
  font-weight: bold;
}

#tweet-text {
  width: 100%;
  border: 0px;
  border-bottom: 100px;
}

form > .div {
  display: flex;
  justify-content: space-between;
}

.tweetButton {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-weight: bold;
  align-self: flex-end;
  font-family: 'Bungee', cursive;
  /* $("#characterCount").css(color: red); */
}

.output {
  align-self: right;
  font-weight: bold;
}
