.newTweet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: 2 2;
  align-items: space-between;
}

.newTweet > label {
  font-weight: bold;
}

#tweet-text {
  width: 100%;
  border-bottom: 4px solid #545149;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #545149;
  background-color: #f4f1ec
}

.tweetButtonCharCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetButton {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  margin: 15px;
  width: 100px;
}

#characterCount {
  font-weight: bold;
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
  .newTweet {
    display: inline-block;
    padding-left: 136px;
    margin-left: auto;
    margin-right: 0;
    width: 90%;
  }
}