article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-style: groove;
}

.tweetHeader {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: space-around;
  width: 90%;
  padding: 100px;
}

.tweetFooter {
  display: flex;
  justify-content: space-between;
  border-top: groove;
}